@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#main-p{
    margin-top:50px;
    text-align: center;
}
.hidden {
    display: none;
}

#tarea{
    font-size:18px;
}

#textareainput button {
    background-color: #5bc0de;
    border-radius:10px;
    color:white;
    padding:20px 45px 20px 45px;
    font-size:20px;
    cursor: pointer;
}